@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins"
}

::-webkit-scrollbar{
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-track{
    background-color: #003580;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 1rem;
    border: 0.4rem solid transparent;
    background-clip: content-box;
  }
  

.dates{
    position: absolute;
    top: 53px;
    left:25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    border-radius: 10px;
}